<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
	<script src="{$basePath}/js/materialize.js"></script>
	<script src="{$basePath}/js/init.js"></script>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{$basePath}/css/own-style.css">
	<link rel="stylesheet" href="{$basePath}/css/materialize.css">

	<title>{ifset title}{include title|stripHtml}{/ifset}</title>
</head>

<body>

	<header>
		<nav>
			<div class="nav-wrapper blue darken-3">
				<a href="#" class="brand-logo">SRP</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="#"><strong>Odhlásit</strong>(admin)</a></li>
				</ul>
			</div>
			<div class="nav-wrapper blue darken-1">
				<a n:href="Brands:"><span><i class="material-icons left navbar-icon">arrow_back</i><span class="navbar-back-text">Značky</span></span></a>
			</div>
			<ul id="slide-out" class="sidenav sidenav-fixed blue darken-3">
				<a><li><i class="material-icons white-text navbar-icon sidenav-icon">menu</i></li></a>
				<a><li><i class="material-icons white-text navbar-icon sidenav-icon">view_quilt</i></li></a>
				<a><li><i class="material-icons white-text navbar-icon sidenav-icon">supervisor_account</i></li></a>
				<a><li><i class="material-icons white-text navbar-icon sidenav-icon">new_releases</i></li></a>
				<a n:href="Brands:" class="blue darken-2"><li><i class="material-icons white-text navbar-icon sidenav-icon">local_offer</i></li></a>
			</ul>
		</nav>
	</header>

	{include content}

	{block scripts}
	<script src="{$basePath}/js/netteForms.js"></script>
		<script type="text/javascript">
			Nette.showFormErrors = function(form, errors) {

				var messages = [],
						focusElem;

				for (var i = 0; i < errors.length; i++) {
					var elem = errors[i].element,
							message = errors[i].message;

					if (messages.indexOf(message) < 0) {
						messages.push(message);

						if (!focusElem && elem.focus) {
							focusElem = elem;
						}
					}
				}

				if (messages.length) {
					var errorSpan = document.getElementById('errors')
					errorSpan.innerText = messages.join('\n')

					document.getElementById('frm-brandForm-name').setAttribute('class', 'invalid')

					if (focusElem) {
						focusElem.focus();
					}
				}
			};
		</script>
	{/block}
</body>
</html>
