%shared-padding{
  padding-left: 60px;
}

%nav-margin{
  margin-left: 15px;
  margin-right: 0;
}

nav {
  div{
    span {
      font-size: larger;
    }
  }
}


header{
  @extend %shared-padding;
  height: 130px;
}

main{
  @extend %shared-padding;
}

footer{
  @extend %shared-padding;
}

.brand-logo{
  @extend  %nav-margin;
}

.navbar-icon{
  @extend %nav-margin
}

.sidenav-icon{
  position: relative;
  right: 13px;
  top: 5px;
}

ul.sidenav.sidenav-fixed{
  width: 60px;
  li{
    height: 65px;
  }
}

body{
  background-color: #ededed;
}

.section{
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 15px;
}

a{
  span{
    position: relative;
    bottom: 3px;
    padding: 0 5px;
  }
}

.navbar-back-text{
  position: relative;
  top: 1px;
  right: 15px;
}

th{
  width: 100%;
  padding-bottom: 10px;

  a{
    position: relative;
    top: 7px;
  }
}

td{
  a{
    margin-left: 10px;
  }
}
.second-th{
  position: relative;
  left: 80px;
}

ul.pagination{
  span{
    position: relative;
    top: 6px;
  }

  li.active{
    background-color: #1976d2;
  }

}

.row{
  .col.message-box{
    border-radius: 10px;
  }
}
