{block content}
    <main>
        {form brandForm}
            <div class="section white">
                <div class="row">
                    <div class="col s6 offset-s3">
                        <h3 n:block="title" class="center">Přidání značky</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 offset-s4 input-field">

                            {label name}
                            {input name}
                            <span id="errors" class="red-text">{inputError name}</span>
                    </div>
                    <div class="col s2 offset-s7 input-field">
                        {input submit}
                    </div>
                </div>
            </div>
        {/form}
    </main>
{/block}