{block content}
    {define title}Značky{/define}
    <main>
        {if !empty($flashes)}
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div n:foreach="$flashes as $flash" n:class="col, s10, offset-s1, $flash->type, lighten-3, center-align, message-box">
                            <div class="text-bold message-content" style="margin: 10px; font-size: 20px"><strong>{$flash->message}</strong></div>
                        </div>
                    </div>
                </div>
            </div>

        {/if}

        <div class="section white">
            <div class="row">
                <div class="col s11 offset-s1">
                    <a n:href="Brands:create" class="btn blue darken-1">
                        <i class="material-icons">add</i>
                        <span>Přidat značku</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s10 offset-s1">
                    <table>
                        <thead>
                        <tr>
                            <th>Název
                                <a n:href="Brands: sort => true, size => $size" class="grey-text">
                                    <i class="material-icons">arrow_upward</i>
                                </a>
                                <a n:href="Brands: sort => false, size => $size" class="grey-text">
                                    <i class="material-icons">arrow_downward</i>
                                </a>
                            </th>
                            <th class="left-align">
                                <span class="second-th">Akce</span>
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                            <tr n:foreach="$brands as $brand">
                                <td>{$brand->name}</td>
                                <td class="left">
                                    <a class="grey-text" n:href="Brands:edit brandId=>$brand->id">editovat</a><a class="grey-text delete" n:href="Brands:delete brandId=>$brand->id">smazat</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    {if $paginator->pageCount > 1}
                    <ul class="pagination center">
                        {var $beginningPaging = $paginator->pageCount > 5 && $paginator->page < 5}
                        {var $endPaging = $paginator->pageCount > 5 && $paginator->page > $paginator->lastPage - 4}
                        {var $startIndex = $paginator->pageCount > 5 ? ($beginningPaging ? 1 : ($endPaging ? $paginator->lastPage - 4 : $currentPage - 2)) : 1}
                        {var $endIndex = $paginator->pageCount > 5 ? $startIndex + 4: $paginator->pageCount}

                        {if $currentPage > 4}
                            <li><a n:href="Brands: page => $currentPage - 1, size => $size, sort => $sort"><i class="material-icons">chevron_left</i></a></li>
                        {/if}

                        {if $currentPage > 5}
                            <li class="waves-effect"><a n:href="Brands: page => $paginator->firstPage, size => $size, sort => $sort">1</a></li>
                            <span>...</span>
                        {/if}

                        {for $i = $startIndex; $i <= $endIndex; $i++}
                            <li class="waves-effect {$i == $currentPage ? active}"><a n:href="Brands: page => $i, size => $size, sort => $sort">{$i}</a></li>
                        {/for}


                        {if $currentPage < $paginator->lastPage - 2 && $paginator->lastPage >= 7}
                            <span>...</span>
                            <li class="waves-effect"><a n:href="Brands: page => $paginator->lastPage, size => $size, sort => $sort">{$paginator->lastPage}</a></li>

                        {/if}
                        {if $currentPage < $paginator->lastPage - 1}
                            <li class="waves-effect"><a n:href="Brands: page => $currentPage + 1, size => $size, sort => $sort"><i class="material-icons">chevron_right</i></a></li>
                        {/if}

                    </ul>
                    {/if}
                    <ul class="pagination center">
                        <li><a n:href="Brands: size => 10, sort => $sort">10</a></li>
                        <li><a n:href="Brands: size => 20, sort => $sort">20</a></li>
                        <li><a n:href="Brands: size => 30, sort => $sort">30</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s2 right">

                </div>
            </div>
        </div>
    </main>

{/block}